<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>B2C Platform Monitor - Cosmetic</title>
    <link rel="Stylesheet" type="text/css" href="static/index.css" />
    <link rel="Stylesheet" type="text/css" href="static/data_box.css" />
    <script src="static/react.js"></script>
    <script src="static/JSXTransformer.js"></script>
    <script src="static/jquery-2.1.3.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx">

var Comment = React.createClass({
  render: function() {
    return (
      <li className="comment">
        <span id="nonReact_sku_name" className="nonReact_span">
          {this.props.sku_name}
        </span>
        <span id="nonReact_price" className="nonReact_span">
          ￥{this.props.price}
        </span>
        <span id="nonReact_B2C_platform" className="nonReact_span">
                {this.props.B2C_platform}
        </span>
        <span id="nonReact_vendor_url" className="nonReact_span">
            <a href={this.props.vendor_url} target="_blank">
                {this.props.vendor_url}
                    </a>
        </span>
        <span id="nonReact_scrapping_time" className="nonReact_span">
                {this.props.scrapping_time}
        </span>
        <span id="nonReact_sales_volume" className="nonReact_span">
                {this.props.sales_volume}
        </span>
        <span id="nonReact_comments" className="nonReact_span">
                {this.props.comments}
        </span>
          <span className="nonReact_source_name" className="nonReact_span">
                {this.props.source_name}
        </span>
      </li>
    );
  }
});

var CommentList = React.createClass({
  render: function() {
      var commentNodes = this.props.data.map(function (stat) {
                  return (
                          <Comment sku_name={stat.sku_name}
                                  B2C_platform = {stat.B2C_platform}
                                  vendor_url = {stat.vendor_url}
                                  scrapping_time = {stat.scrapping_time}
                                  source_name = {stat.source_name}
                                  price={stat.price}
                                  sales_volume = {stat.sales_volume}
                                  price={stat.price}
                                  comments={stat.comments}
                          >
                          </Comment>
                  );
              }

      );
    return (
      <ul className="commentList">
                    <li className="comment comment_title">
        <span id="nonReact_sku_name" className="nonReact_span">
          单品完整名称
        </span>
        <span id="nonReact_price" className="nonReact_span">
          价格
        </span>
        <span id="nonReact_B2C_platform" className="nonReact_span">
                B2C平台
        </span>
        <span id="nonReact_vendor_url" className="nonReact_span">
            <a href={this.props.vendor_url} target="_blank">
                数据源地址
                    </a>
        </span>
        <span id="nonReact_scrapping_time" className="nonReact_span">
                抓取时间
        </span>
        <span id="nonReact_sales_volume" className="nonReact_span">
                销量
        </span>
        <span id="nonReact_comments" className="nonReact_span">
                评论
        </span>
          <span className="nonReact_source_name" className="nonReact_span">
                单品名称（数据源）
        </span>
      </li>
      {commentNodes}
      </ul>
    );
  }
});

// tutorial16.js
var CommentForm = React.createClass({
  handleSubmit: function(e) {
    e.preventDefault();
    var ip_sku_name = React.findDOMNode(this.refs.ip_sku_name).value.trim();
    var ip_size = React.findDOMNode(this.refs.ip_size).value.trim();
      var ip_category = React.findDOMNode(this.refs.ip_category).value.trim();
      var ip_B2C_platform = React.findDOMNode(this.refs.ip_B2C_platform).value.trim();
    if (!ip_size && !ip_sku_name && ip_category == -1 && ip_B2C_platform == -1) {
        alert("No Data Entered, Please Check Again");
        return;
    }
      if (!ip_size && !ip_sku_name && ip_category == 0 && ip_B2C_platform == 0) {
        alert("Warning !  Displaying ALL Data Stored in The Dataset is Forbided !");
        return;
    }
    this.props.onCommentSubmit({sku_name: ip_sku_name, size: ip_size, B2C_platform: ip_B2C_platform});
    React.findDOMNode(this.refs.ip_sku_name).value = '';
    React.findDOMNode(this.refs.ip_size).value = '';
    return;
  },
  render: function() {
    return (
      <form className="commentForm" onSubmit={this.handleSubmit}>
        <input type="text" className="ip" placeholder="单名全称" ref="ip_sku_name" name="sku_name"/>
        <input type="text" className="ip" placeholder="规格" ref="ip_size" name="size"/>
        <select name="category" className="ip" ref="ip_category">
                <option value="-1">品类</option>
            <option value="0">不限</option>
            <option value="1">面部精华</option>
            <option value="2">面霜</option>
            <option value="3">脸部彩妆</option>
            <option value="4">面部护理</option>
        </select>

        <select name="B2C_platform" className="ip" ref="ip_B2C_platform">
                <option value="-1">B2C平台</option>
            <option value="0">不限</option>
            <option value="1">京东</option>
            <option value="2">淘宝</option>
            <option value="3">聚美优品</option>
        </select>
        <input id="submit" type="submit" value="查询" />
              <a id ="query_download" href="static/query_result.xlsx"><span>查询结果导出</span></a>
      </form>
    );
  }
});

var CommentBox = React.createClass({
  handleCommentSubmit: function(comment) {
    $.ajax({
      url: this.props.url,
      dataType: 'json',
      type: 'POST',
      data: comment,
      success: function(data) {
        this.setState({data: data});
      }.bind(this),
      error: function(xhr, status, err) {
        console.error(this.props.url, status, err.toString());
      }.bind(this)
    });
  },
  getInitialState: function() {
    return {data: []};
  },
  render: function() {
    return (
      <div className="commentBox">
        <h1>化妆品数据监控</h1>
              <CommentForm onCommentSubmit={this.handleCommentSubmit} />
        <CommentList data={this.state.data} />
      </div>
    );
  }
});

React.render(
  <CommentBox url="http://localhost:8085/ajax"/>,
  document.getElementById('content')
);
    </script>
  </body>
</html>